h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  margin: 30px;
}

table {
  width: 600px;
  height: 600px;
  border: 1px solid #00a2ff;
  border-spacing: 10px;
  border-radius: 4%;
  grid-area: b;
}

th {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #8fa800;
  border: 1px solid #0fa08d;
  border-radius: 15%;
}

canvas {
  position: absolute;
}

#play-space {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "a b c";
}

#panel {
  grid-area: c;
}

p, form * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 5px 0px 5px;
}

.text-in-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.item * {
  vertical-align: middle;
}

.item {
  margin: 5px 0px 5px;
}

form {
  margin: 10px 0px 10px;
}

#input-name {
  padding: 3px;
  width: 150px;
}

.error {
  font-size: 14px;
  margin: 0px;
  color: #eb0000;
  width: 200px;
}

.button {
  display: block;
  width: 160px;
  height: 50px;
  background-color: #8fa800;
  border: 2px solid #8fa800;
  color: white;
  font-size: 18px;
  margin: 10px 0px 5px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #8fa800;
}

.button:active {
  background-color: #8fa80028;
}
